[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-comment-migrate = "*"
psycopg2-binary = "*"
whitenoise = "==5.1.0"
gunicorn = "==19.9.0"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
